{
  "env": {
    "node": "current"
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./bin"
        ],
        "alias": {
          "^@/(.*)": "./bin/\\1"
        }
      }
    ]
  ]
}
